<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have installed:</p>
  <ul>
    <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <h3>Enjoy coding! - Yeoman</h3>
  <button type="button" class="btn btn-primary">Default</button>
</div>


<div class="container">
  <h2>angular-easyfb API demo</h2>

  <div>
    <button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">Connect with Facebook</button>
    &nbsp; 
    <button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'">Logout</button>
    &nbsp;
    <button class="btn btn-success" ng-click="share()">FB.ui</button>
  </div>
  
  <br>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">$FB.loginStatus()</h3>
    </div>
    <div class="panel-body">
      {{loginStatusJSON}}
    </div>
  </div>  

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">$FB.api('/me')</h3>
    </div>
    <div class="panel-body">
      {{apiMeJSON}}
    </div>
  </div>  
</div>
